.slider {
  position: relative;
}
// .slide {
//     position: relative;
//   }
.slider__images {
  position: relative;
  width: 1120px;
  height: 702px;
}

.slider__images .image {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 800ms ease;
}
.slider__images .image.active{
  opacity: 1;
  // visibility: visible;
  // display: flex;
}
.slider__dots {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
}
.slider__dots-item {
  width: 12px;
  height: 12px;
  background: #EFEEF6;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.4s ease;
}
.slider__dots-item:hover,
.slider__dots-item.active {
  background: #9E98DC;
}